<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <!-- duplex requires web sockets: enable web sockets on the App Service's application settings blade -->
        <endpoint binding="netHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculatorDuplex"/>
      </service>
    </services>

    <bindings>
      <netHttpBinding>
        <binding name="bindingConfig">
          <!-- disable HTTPS Only on the App Service's SSL Configuration blade -->
          <security mode="None" />
        </binding>
      </netHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>